*.zip
.classpath
.project
.settings/
FitNesseRoot/FitNesse/
FitNesseRoot/files
FitNesseRoot/ErrorLogs/
FitNesseRoot/RecentChanges/
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
target/
*.log
.idea
*.iml
.cache
